@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>@ViewBag.Title</h2>
@section ExternalCSS
{<style>

    h2{
        color:red;
    }
</style>
}


@section ExternalJS
{
 <script type="text/javascript">


</script>   
    
    }
